<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenflow HVAC - History</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/mobile/history.css" />
    <link rel="stylesheet" href="/stylesheets/desktop/history.css" />
  </head>
  <body>
    <!-- Mobile history page -->
    <section id="history" class="hidden-page">
      <div class="menu">
        <img
          class="logo"
          src="images/greenflow logo.svg"
          alt="Greenflow HVAC Logo"
        />

        <div id="nav-button-wrapper">
          <div class="nav-button"></div>
          <div class="nav-button"></div>
          <div class="nav-button"></div>
        </div>
      </div>

      <h1 class="page-title">Our History</h1>
      <h2>Link</h2>
      <h2>and Pictures</h2>
      <h2>And Diagram</h2>
      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <!-- Mobile navigation menu -->
    <div id="navigation" class="hidden-navigation">
      <div class="menu">
        <img
          class="logo"
          src="images/greenflow logo.svg"
          alt="Greenflow HVAC Logo"
        />

        <div id="nav-exit-button-wrapper">
          <div class="exit-button"></div>
          <div class="exit-button"></div>
        </div>
      </div>

      <nav>
        <ul class="menu-items">
          <li class="menu-item">
            <div class="list-marker"></div>
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="menu-item">
            <div class="list-marker"></div>
            <a class="nav-link" href="/projects">Our Projects/Portfolio</a>
          </li>
          <li class="menu-item">
            <div class="list-marker"></div>
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="menu-item">
            <div class="list-marker"></div>
            <a class="nav-link" href="/contact-us">Contact Us</a>
          </li>
        </ul>
      </nav>

      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </div>
    <!-- Desktop history page -->
    <div id="desktop-history-section">
      <!-- Desktop navigation bar -->
      <nav id="navbar">
        <ul id="nav-menu">
          <img
            class="logo"
            src="images/desktop logo.png"
            alt="Greenflow Logo"
          />
          <li class="nav-item" id="nav-title">
            <a href="/"
              ><span id="greenflow">Greenflow</span><br />
              Heating, Ventilation,<br />
              Air Conditioning Services</a
            >
          </li>
          <li class="nav-item"><a href="/history">Our History</a></li>
          <li class="nav-item"><a href="/resources">Resources</a></li>
          <li class="nav-item">
            <a href="/projects">Our Projects/Portfolio</a>
          </li>
          <li class="nav-item button">
            <a href="/contact-us">Contact Our Consultant For Free</a>
          </li>
        </ul>
      </nav>
      <main id="history-content">
        <h1 class="page-title">Our History</h1>
        <div id="first-history-container" class="history-container">
          <div class="history-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet
            animi minima repellendus, eum repudiandae culpa illo, nemo
            aspernatur voluptas natus ut laboriosam, eos autem nesciunt unde
            deleniti ratione? Corrupti, labore. Animi vero totam delectus a,
            blanditiis neque ex aperiam id qui quae doloribus earum facilis
            commodi eius quod porro velit consequuntur ipsum aut repellendus.
            Voluptas enim ea vitae. Voluptas, harum. Totam quisquam eos
            reiciendis exercitationem neque vero, ut eaque nemo voluptatum
            accusamus, cumque consequuntur ea, hic debitis id veniam magni! A
            impedit ipsa beatae accusamus cumque, voluptates corrupti ducimus
            nobis! Excepturi possimus animi hic ad ratione impedit aperiam est
            repudiandae vitae dolore quidem quaerat corporis accusantium,
            molestias ut sequi ipsum voluptatum quibusdam. Voluptatum corrupti
            a, tempore natus deserunt magnam expedita. Voluptatibus cupiditate,
            tempora blanditiis consequatur eaque alias, cum molestiae error
            consequuntur delectus quidem praesentium magni reiciendis, placeat
            dolore vel impedit dolor. Voluptatem similique reprehenderit illo
            nostrum quibusdam maiores eaque veritatis? Similique accusantium
            eveniet alias rem, consectetur, odio libero et voluptas non,
            consequatur nobis eaque. Voluptatum eum dolorum obcaecati at iste
            minima autem rem fugit, deserunt delectus culpa id, esse quia.
            Ducimus exercitationem veritatis unde ullam? Iure perspiciatis
            adipisci ut repudiandae nulla dicta atque consectetur minus ullam
            earum, quam eos alias tenetur voluptas numquam omnis doloremque illo
            ea nobis enim. Perferendis! Non ab possimus modi placeat quos quasi
            est corrupti, repellat nisi harum odio ipsam? Dolorum adipisci culpa
            doloribus voluptatum, explicabo repellendus laboriosam saepe
            expedita magnam? Reprehenderit debitis numquam veniam ut. Dolor
            harum, quas excepturi eaque impedit repudiandae tempora facere vero
            recusandae, mollitia neque possimus rerum modi laudantium, nisi sit
            blanditiis animi dicta! Repellendus cumque aperiam minus enim sunt
            ab quasi? Fugit at sed quas reprehenderit optio libero, vitae
            voluptates sequi iusto adipisci sapiente, voluptatem eveniet,
            architecto explicabo? Nam similique corrupti, totam mollitia enim
            esse assumenda nisi, id sunt, consequatur commodi.
          </div>
          <div class="history-picture">Picture</div>
        </div>
        <div class="history-container">
          <div class="history-picture">Picture</div>
          <div class="history-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis
            iste debitis qui commodi temporibus voluptate eum nobis! Quo iste
            quidem veniam perspiciatis nihil quas asperiores, officiis suscipit.
            Error, dignissimos consectetur! Omnis fugit quidem provident labore
            earum odit laudantium quam magnam. Nemo excepturi a eius quae
            impedit maxime corporis repudiandae alias hic quam, doloremque
            accusantium voluptas, at inventore ipsa esse minus. Nam officiis
            neque tempore quod similique odit, non facere quo autem tenetur nisi
            illum consequatur distinctio maxime minima dolorem cupiditate optio
            at earum ut repellat, molestias, doloremque quos voluptatum. Dolor.
            Assumenda nihil minus laudantium consequatur, nulla culpa impedit
            eveniet ipsum dignissimos officiis maxime, nisi vero eaque sed error
            sunt natus ut laboriosam optio. Doloremque, labore sunt laboriosam
            aut necessitatibus perferendis. Exercitationem placeat nulla numquam
            optio. Error eius rerum incidunt aliquid quae sit, molestiae placeat
            accusantium possimus doloremque quisquam, quam voluptatibus magni
            consequuntur expedita laborum et dolorem rem nostrum alias
            accusamus. Tenetur sit itaque animi at mollitia expedita eligendi.
            Fugiat voluptate alias aliquam, sapiente hic a nisi officiis
            provident at delectus dignissimos assumenda soluta accusamus. Unde
            enim voluptatem praesentium. Eaque, ullam? Delectus inventore
            aspernatur ipsam doloribus harum? Sapiente debitis error dolorem
            repellat laboriosam laudantium. Minus quaerat labore fugit earum,
            modi expedita voluptas repellat id molestiae consequatur
            reprehenderit, dolore fugiat ducimus sit? Quos porro, minima magnam
            commodi, quaerat nam nesciunt placeat dolores officiis beatae in,
            sapiente non! Eius dolorum repellat veniam magni, dolores sed
            ducimus, fugit assumenda totam rem alias placeat amet? Quod impedit
            quos cumque voluptatibus culpa dolores, aut sequi exercitationem at,
            itaque corporis recusandae neque enim? Quae asperiores ex,
            necessitatibus minus adipisci dolores dicta mollitia autem
            consequatur cum omnis dolorum? At voluptate aliquam reiciendis
            impedit omnis minima similique, autem rerum dignissimos beatae
            maiores iure odio in, velit quas qui. In, quia omnis. Odit
            laboriosam odio nobis a sit laudantium in!
          </div>
        </div>
      </main>

      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </div>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- Javascripts -->
    <script src="javascripts/mobile/main.js"></script>
  </body>
</html>
