<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Greenflow HVAC</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/mobile/index.css" />
    <link rel="stylesheet" href="/stylesheets/desktop/index.css" />
  </head>
  <body>
    <!-- Mobile landing page -->
    <section id="landing-page">
      <div id="landing-page-content">
        <div class="menu">
          <img
            class="logo"
            src="images/greenflow logo.svg"
            alt="Greenflow HVAC Logo"
          />

          <!-- Hamburger menu button -->
          <div id="nav-button-wrapper">
            <div class="nav-button"></div>
            <div class="nav-button"></div>
            <div class="nav-button"></div>
          </div>
        </div>

        <p id="intro">
          We understand that hiring a contractor for heating, ventilation, or
          air conditioning services might get expensive!
        </p>
      </div>
      <div id="landing-page-banner">
        <img src="images/banner photo.png" alt="" id="background-img" />
        <h1>Why us?</h1>
        <h2>
          We want to provide an
          <span class="green-bold-text">affordable, efficient</span> solution by
          making it <span class="green-bold-text">greener</span> for you.
        </h2>
        <a href="/contact-us" class="button landing-contact-button"
          >CONTACT US</a
        >

        <p class="copyright">
          Copyright 2021 Greenflow HVAC. All rights reserved.
        </p>
      </div>
    </section>
    <!-- Mobile navigation menu -->
    <section id="navigation" class="hidden-navigation">
      <div class="menu">
        <img
          class="logo"
          src="images/greenflow logo.svg"
          alt="Greenflow HVAC Logo"
        />

        <div id="nav-exit-button-wrapper">
          <div class="exit-button"></div>
          <div class="exit-button"></div>
        </div>
      </div>

      <nav class="menu-items">
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/history">Our History</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/projects">Our Projects/Portfolio</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </nav>

      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <!-- Desktop landing page -->
    <section id="desktop-landing-page">
      <nav id="navbar">
        <ul id="nav-menu">
          <img
            class="logo"
            src="images/desktop logo.png"
            alt="Greenflow Logo"
          />
          <li class="nav-item" id="nav-title">
            <a href="/"
              ><span id="greenflow">Greenflow</span><br />
              Heating, Ventilation,<br />
              Air Conditioning Services</a
            >
          </li>
          <li class="nav-item"><a href="/history">Our History</a></li>
          <li class="nav-item"><a href="/resources">Resources</a></li>
          <li class="nav-item">
            <a href="/projects">Our Projects/Portfolio</a>
          </li>
          <li class="nav-item button">
            <a href="/contact-us">Contact Our Consultant For Free</a>
          </li>
        </ul>
      </nav>
      <div id="landing-section-1">
        <p id="desktop-intro">
          What is a <span class="green-text">green system</span>? <br />
          - It is a future of sustainable energy! The concept of using
          materials, energy, water that enhances the airflow/efficiency within a
          system.
        </p>

        <img id="plant-image" src="images/plant.png" alt="Plant" />
      </div>
      <div id="landing-section-2">
        <p id="desktop-overview">
          How will <span class="green-text">Greenflow</span> help you? <br />
          - With over 20+ years of experience at two different continents, we
          want to ensure our methodologies and materials used to be as clean,
          green as possible. This will in turn create a more efficient system,
          thus saving you money.
        </p>

        <a class="button icon-button landing-contact-button" href="/contact-us"
          >CONTACT US NOW</a
        >
      </div>
      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- Javascripts -->
    <script src="javascripts/mobile/main.js"></script>
  </body>
</html>
