<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      http-equiv="content-security-policy"
      content="img-src https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
    />
    <title>Greenflow HVAC - Projects</title>
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <link rel="stylesheet" href="/stylesheets/mobile/projects.css" />
    <link rel="stylesheet" href="/stylesheets/desktop/projects.css" />
  </head>
  <body>
    <!-- Projects/Portfolio page -->
    <section id="projects" class="hidden-page">
      <div class="menu">
        <img
          class="logo"
          src="images/greenflow logo.svg"
          alt="Greenflow HVAC Logo"
        />

        <div id="nav-button-wrapper">
          <div class="nav-button"></div>
          <div class="nav-button"></div>
          <div class="nav-button"></div>
        </div>
      </div>

      <h1 class="page-title">Portfolio/Projects</h1>
      <div class="project-image"></div>
      <h2 class="project-title">Commercial Building: BLA BLA BLA</h2>
      <div class="project-image"></div>
      <h2 class="project-title">Remove and installation: BLA BLA BLA</h2>
      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <!-- Navigation menu -->
    <section id="navigation" class="hidden-navigation">
      <div class="menu">
        <img
          class="logo"
          src="images/greenflow logo.svg"
          alt="Greenflow HVAC Logo"
        />

        <div id="nav-exit-button-wrapper">
          <div class="exit-button"></div>
          <div class="exit-button"></div>
        </div>
      </div>

      <ul class="menu-items">
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/history">Our History</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/resources">Resources</a>
        </li>
        <li class="menu-item">
          <div class="list-marker"></div>
          <a class="nav-link" href="/contact-us">Contact Us</a>
        </li>
      </ul>

      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <section id="desktop-projects">
      <nav id="navbar">
        <ul id="nav-menu">
          <img
            class="logo"
            src="images/desktop logo.png"
            alt="Greenflow Logo"
          />
          <li class="nav-item" id="nav-title">
            <a href="/"
              ><span id="greenflow">Greenflow</span><br />
              Heating, Ventilation,<br />
              Air Conditioning Services</a
            >
          </li>
          <li class="nav-item"><a href="/history">Our History</a></li>
          <li class="nav-item"><a href="/resources">Resources</a></li>
          <li class="nav-item">
            <a href="/projects">Our Projects/Portfolio</a>
          </li>
          <li class="nav-item button">
            <a href="/contact-us">Contact Our Consultant For Free</a>
          </li>
        </ul>
      </nav>
      <h1 class="page-title">Our Projects/Portfolio</h1>

      <div id="card-container">
        <div class="card-column">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
        </div>
        <div class="card-column alt-card-column">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
        </div>
        <div class="card-column">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
        </div>
        <div class="card-column alt-card-column">
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
          <div class="card">
            <img
              src="https://images.pexels.com/photos/1181725/pexels-photo-1181725.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260"
              alt=""
              class="card-image"
            />
            <p class="card-desc">Lorem Ipsum Company blah blah blah</p>
          </div>
        </div>
      </div>

      <p class="copyright">
        Copyright 2021 Greenflow HVAC. All rights reserved.
      </p>
    </section>
    <!-- JQuery -->
    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- Javascripts -->
    <script src="javascripts/mobile/main.js"></script>
  </body>
</html>
