/**
 * History page styles for desktop
 */
@media screen and (min-width: 750px) {
  /* Hide mobile elements */
  #history,
  #navigation {
    display: none;
  }

  body {
    overflow-x: hidden;
  }

  #history-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-grow: 1;
  }

  .history-container {
    width: 75vw;
    margin-bottom: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
  }

  .history-text {
    width: 60%;
  }

  .history-picture {
    width: 25vw;
    height: 45vh;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }

  .copyright {
    text-align: center;
  }
}
