/**
 * Home page styles for mobile
 */
@media screen and (max-width: 749px) {
  /* Hide all desktop elements */
  #desktop-landing-page {
    display: none;
  }

  #landing-page {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }

  #landing-page-content {
    height: 35vh;
  }

  #intro {
    color: #222;
    font-size: 1.3rem;
    letter-spacing: 1px;
    margin: 1.5rem 2rem;
  }

  #landing-page-banner {
    width: 100vw;
    position: relative;
    z-index: 0;
    height: 65vh;
  }

  #background-img {
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
    height: 65vh;
  }

  #landing-page-banner h1 {
    position: absolute;
    top: 16%;
    left: 5%;

    color: #00ff3c;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
  }

  #landing-page-banner h2 {
    position: absolute;
    width: 73vw;
    top: 31%;
    left: 34%;

    color: white;
    font-size: 1.3rem;
    line-height: 1.4;
    letter-spacing: 1px;
  }

  .green-bold-text {
    color: #00ff3c;
    font-size: 1.3rem;
  }

  .landing-contact-button {
    position: absolute;
    top: 65%;
    right: 11%;

    color: #00ff3c;
    border: 1px solid #00ff3c;
    background-color: rgba(98, 0, 238, 0.12);
  }

  .landing-contact-button::before {
    background-color: #00ff3c;
  }

  .landing-contact-button::after {
    background-color: #00ff3c;
  }

  #landing-page-banner .copyright {
    position: absolute;
    bottom: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    height: 2vh;
    color: white;
    z-index: 1;
  }
}
